/* Style css */
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-image: url(../img/tata-surya/galaxy.jpg);
    background-size: cover;
}

header{
    display: inline;
}

.jumbotron{
    padding: 40px;
    text-align: center;
    background-color: cornflowerblue;
    color: white;
}

nav{
    box-sizing: border-box;
    display: flex;
    background-color: dimgray;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo{
    flex-basis: 50%;
}

.logo a{
    color: white;
    text-decoration: none;
}

ul li{
    display: flex;
    flex-basis: 50%;
    list-style: none;
}
 ul{
     display: flex;
 }

ul li a{
    text-decoration: none;
    color: white;
    margin-right: 16px;
    font-variant: small-caps;
    font-weight: bold;
    transition: 0.4s;
}

ul li a:hover{
    padding: 4px;
    background-color: white;
    color: dimgray;
    border-radius: 3px;
}

main{
    padding: 20px;
    overflow: auto;
    max-width: 800px;
    margin: 0px auto;
    z-index: 3;
}

article{
    position: relative;
    background-color: rgb(255, 255, 255,0.8);
}

.card{
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.image{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

footer{
    padding: 20px;
    background-color: cornflowerblue;
    text-align: center;
    color: white;
}
/* Akhir style css */

/* Reponsive */
@media screen and (max-width:600px){
    #planet{
        width: 100%;
        padding: 20px;
    }
}
/* Akhir Reponsive */